<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RWPLLinqDataService.Properties.Settings.RWPLDataConnectionString"
            connectionString="Data Source=MAYUR-PC\EXPRESS;Initial Catalog=RWPLData;User ID=sa;Password=da"
            providerName="System.Data.SqlClient" />
        <add name="RWPLLinqDataService.Properties.Settings.RWPLDataConnectionString1"
            connectionString="Data Source=MAYUR-PC\EXPRESS;Initial Catalog=RWPLData;User ID=sa;Password=da"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>